.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.DS_Store

# Local environment variables
.env

# Data ignore logic
data/*
!data/processed/
data/processed/*
!data/processed/.gitkeep
!data/processed/*.parquet

!data/raw/
data/raw/*
!data/raw/ces_2021/
data/raw/ces_2021/*
!data/raw/ces_2021/ces_2021_codebook_questions.md
!data/raw/ces_2021/ces_2021_codebook_questions.jsonl

!data/interim/
data/interim/*
!data/interim/.gitkeep
